<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home</title>
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<h1>Vender</h1>

<br><br>
<form action="/heladeria" method="post">
    <table>
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="idProducto">Id producto:</label></td>
            <td><input type="text" name="idProducto" id="idProducto" required></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">VENTA</button></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>